<div class="workspace-area">
    <div cdkDropList
    [id]="WORKSPACE_DROP_LIST_ID"
    class="block-list"
    (cdkDropListDropped)="drop($event)">
    <!-- [cdkDropListData]="page.blocks" -->

    </div>

</div>


<!-- <div class="workspace-area" *ngIf="currentPage$ | async as page">
  <div
    [id]="WORKSPACE_DROP_LIST_ID"
    cdkDropList
    [cdkDropListData]="page.blocks"
    class="block-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let block of page.blocks; let i = index; trackBy: trackByBlockId"
      cdkDrag
      [cdkDragData]="block"
      class="block-item"
      [class.selected]="(selectedBlockId$ | async) === block.id"
      (click)="selectBlock(block.id, $event)"
      [title]="'ID: ' + block.id + ' | Typ: ' + block.type"
    >
      <div class="block-handle" cdkDragHandle title="Przenieś blok (ID: {{block.id}})">
        <span class="material-symbols-outlined">drag_indicator</span>
      </div>
      <div class="block-content">
        <strong>Typ: {{ block.type }}</strong> (ID: {{ block.id }}, Kolejność: {{ block.order }})
        <ng-container [ngSwitch]="block.type">
          <span *ngSwitchCase="'label'"> - Tekst: {{ block.config.text }}</span>
          <span *ngSwitchCase="'button'"> - Przycisk: {{ block.config.buttonText }}</span>
          <span *ngSwitchCase="'card'"> - Karta: {{ block.config.title || 'Bez tytułu' }}</span>
        </ng-container>
        </div>
    </div>
    <div *ngIf="page.blocks.length === 0" class="empty-workspace-message">
      Przeciągnij tutaj bloki z palety, aby rozpocząć budowę strony.
    </div>
  </div>
</div>
<div *ngIf="!(currentPage$ | async)" class="no-page-loaded-message">
  Ładowanie strony lub brak aktywnej strony...
</div> -->