<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Atomic Blocks
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div class="palette-list" 
                cdkDropList 
                cdkDropListSortingDisabled 
                [cdkDropListData]="blocks" 
                [cdkDropListConnectedTo]="['workspace-drop-list']">
            <div
                class="palette-item"
                *ngFor="let blockDef of blocks"
                [cdkDragData]="blockDef"
                cdkDrag
                title="Przeciągnij, aby dodać {{ blockDef.displayName }}"
                >
                <div class="example-custom-placeholder" *cdkDragPlaceholder>123</div>
                <span class="block-name">{{ blockDef.displayName }}</span>
            </div>
            @if (blocks.length === 0) {
                <p>Brak zdefiniowanych bloków.</p>
            }
            </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Molecule Blocks
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I am the content!</p>
    </mat-expansion-panel>
</mat-accordion>

<!-- <div class="palette-list" 
    cdkDropList 
    cdkDropListSortingDisabled 
    [cdkDropListData]="blocks" 
    [cdkDropListConnectedTo]="['workspace-drop-list']">
  <div
    class="palette-item"
    *ngFor="let blockDef of blocks"
    [cdkDragData]="blockDef"
    cdkDrag
    title="Przeciągnij, aby dodać {{ blockDef.displayName }}"
  >
    <span class="block-name">{{ blockDef.displayName }}</span>
  </div>
  @if (blocks.length === 0) {
      <p>Brak zdefiniowanych bloków.</p>
  }
</div> -->